---
app_name: <%= app_name %>
app_path: <%= app_path %>
app_prefix: <%= app_prefix %>
app_server: <%= app_server %>
app_test_framework: <%= app_test_framework %>
app_db: <%= app_db %>
app_orm: <%= app_orm %>
app_docker: <%= app_docker? %>
app_license: <%= app_license %>
app_copyright: <%= app_copyright %>
app_ruby: <%= app_ruby %>
app_swagger: <%= app_swagger? %>
